{layout name='layout'}
<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="index.html">首页</a>
						</li>
						<li>
							<a href="#">个人中心</a>
						</li>
						<li class="active">个人资料</li>
					</ul>
				</div>
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 用户名 </label>
									<div class="col-sm-9">
										<input type="text" disabled="disabled" class="rcol-xs-10 col-sm-5" value="admin">
										<span class="help-inline col-xs-12 col-sm-7">
											<span class="middle">无法修改</span>
										</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"> 用户密码 </label>
									<div class="col-sm-9">
										<input type="password" placeholder="用户密码" class="col-xs-10 col-sm-5" value="">
										<span class="help-inline col-xs-12 col-sm-7">
										<span class="middle">留空不修改</span>
										</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"> 用户头像 </label>
									<div class="col-sm-4">
										<input type="file" id="id-input-file-2" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 性别 </label>
									<div class="col-sm-9">
										<select>
											<option value="0">保密</option>
											<option value="1" selected="selected">男</option>
											<option value="2">女</option>
										</select>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="id-date-picker-1">生日</label>
									<div class="col-xs-9 col-sm-9">
										<div class="input-group col-xs-5">
											<input class="form-control" id="birthday" value="2015-01-02" type="text" data-date-format="dd-mm-yyyy" />
											<span class="input-group-addon">
												<i class="ace-icon fa fa-calendar bigger-110"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 电话号码 </label>
									<div class="col-sm-9">
										<input type="text" placeholder="电话号码" class="col-xs-10 col-sm-5" value="13800138000">
										<span class="help-inline col-xs-12 col-sm-7">
											<span class="middle"></span>
										</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-7"> Q&nbsp;&nbsp;Q </label>
									<div class="col-sm-9">
										<input type="text" placeholder="QQ" class="col-xs-10 col-sm-5" value="331349451">
										<span class="help-inline col-xs-12 col-sm-7">
											<span class="middle"></span>
										</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right" for="form-field-8">E-mail </label>
									<div class="col-sm-9">
										<input type="email" placeholder="E-mail" class="col-xs-10 col-sm-5" value="xieyanwei@qq.com">
										<span class="help-inline col-xs-12 col-sm-7">
											<span class="middle"></span>
										</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="col-md-offset-2 col-md-9">
									<button class="btn btn-info" type="submit"><i class="icon-ok bigger-110"></i>提交</button>&nbsp; &nbsp; &nbsp;
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>